grant {
    permission java.net.SocketPermission "*:1099", "accept,connect,listen,resolve";
    permission java.net.SocketPermission "*:49000-", "accept,connect,listen,resolve";
    permission java.net.SocketPermission "localhost:1024-", "accept,connect,listen,resolve";
};